.container {
  margin: 0 auto;
  position: relative;
  width: calc(100% - 24px);

  @media screen and (min-width: 840px) {
    width: 728px;
  }
  @media screen and (min-width: 960px) {
    width: 860px;
  }
  @media screen and (min-width: 1280px) {
    width: 1140px;
  }
}

.rewards-list-title {
  margin-top: 32px;
}

.rewards-list {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(1, 100%);
  grid-auto-rows: 1fr;
  margin-bottom: 32px;

  @media screen and (min-width: 960px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
