// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

@import 'theme';

@include mat-core();

$vakers-primary: mat-palette($mat-vaki-theme-primary);
$vakers-accent: mat-palette($mat-vaki-theme-accent, A200, A100, A400);
$vakers-warn: mat-palette($vaki-mat-warn);

$vakers-theme: mat-light-theme(
  (
    color: (
      primary: $vakers-primary,
      accent: $vakers-accent,
      warn: $vakers-warn,
    ),
  )
);

@include angular-material-theme($vakers-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  margin: 0 auto;
  padding-bottom: 116px;
  position: relative;
  width: calc(100% - 24px);

  @media screen and (min-width: 840px) {
    width: 728px;
  }
  @media screen and (min-width: 960px) {
    width: 860px;
  }
  @media screen and (min-width: 1280px) {
    width: 1140px;
  }
}
