<div class="container">
  <mat-card>
    <mat-card-header>
      <button
        *ngIf="items.length"
        mat-raised-button
        color="primary"
        (click)="sendPurchase()"
        class="purchase-button"
      >
        Realizar pago {{ totalValue | currency: 'COP' }}
      </button>
      <button
        *ngIf="!items.length"
        mat-raised-button
        color="primary"
        (click)="back()"
        class="purchase-button"
      >
        Volver
      </button>
    </mat-card-header>
    <mat-card-content>
      <vaki-reward-cart-item
        *ngFor="let reward of items"
        [item]="reward"
        (quantityChanged)="updateItemQuantity(reward.id, $event)"
        (removeButtonClick)="removeItem(reward)"
      ></vaki-reward-cart-item>
    </mat-card-content>
  </mat-card>
</div>
